.__dumi-default-navbar-logo {
  color: transparent !important;
}

a[title='站长统计'] {
  display: none;
}

input,
button {
  padding: 4px;
}

input[type='number'] {
  border: 1px solid rgb(118, 118, 118);
}
